h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

button {
  width: 100px;
  padding: 8px 16px;
  margin: 10px 10px 0 0;
  border: solid 1px #c7ccd1;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffffff;
  color: #333333;

  &:hover {
    background-color: #d2c5ef;
    color: #ffffff;
  }

  &:last-of-type {
    margin-right: 0;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
