form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
}
.filter__buttons {
  display: flex;
  margin: 0 auto;
}

.filter_input {
  width: 276px;
  padding: 14px 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #000000;
  margin-top: 10px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.button_disabled {
  opacity: 0.5;
  pointer-events: none;
}
